global:
  imageRegistry: ""
  imagePullSecrets: []
  storageClass: ""

kubeVersion: ""
nameOverride: ""
fullnameOverride: ""
commonLabels: {}
commonAnnotations: {}
clusterDomain: cluster.local
extraDeploy: []

diagnosticMode:
  enabled: false
  command:
    - sleep
  args:
    - infinity

installer:
  image:
    registry: registry.cn-hangzhou.aliyuncs.com
    repository: xiaoshiai/installer
    tag: latest
    pullPolicy: IfNotPresent
    pullSecrets: []
    debug: false
  replicaCount: 1
  containerPorts:
    probe: 8080
  livenessProbe:
    enabled: true
    initialDelaySeconds: 5
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 6
    successThreshold: 1
  readinessProbe:
    enabled: true
    initialDelaySeconds: 5
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 6
    successThreshold: 1
  startupProbe:
    enabled: false
    initialDelaySeconds: 5
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 6
    successThreshold: 1
  customLivenessProbe: {}
  customReadinessProbe: {}
  customStartupProbe: {}
  resources:
    limits:
      cpu: 100m
      memory: 128Mi
    requests:
      cpu: 100m
      memory: 128Mi
  podSecurityContext:
    enabled: false
    fsGroup: 1001
  containerSecurityContext:
    enabled: false
    runAsUser: 1001
    runAsNonRoot: true
  leaderElection:
    enabled: true
  logLevel: debug
  existingConfigmap: ""
  command: []
  args: []
  hostAliases: []
  podLabels: {}
  podAnnotations: {}
  podAffinityPreset: ""
  podAntiAffinityPreset: soft
  nodeAffinityPreset:
    type: ""
    key: ""
    values: []
  enableAffinity: false
  affinity: {}
  nodeSelector: {}
  tolerations: []
  updateStrategy:
    type: RollingUpdate
  priorityClassName: ""
  schedulerName: ""
  lifecycleHooks: {}
  extraEnvVars: []
  extraEnvVarsCM: []
  extraEnvVarsSecret: []
  extraVolumes: []
  extraVolumeMounts: []
  sidecars: {}
  initContainers: {}
  metrics:
    enabled: true
    service:
      type: ClusterIP
      port: 9100
      nodePort: ""
      clusterIP: ""
      extraPorts: []
      loadBalancerIP: ""
      loadBalancerSourceRanges: []
      externalTrafficPolicy: Cluster
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "{{ .Values.installer.metrics.service.port }}"
    serviceMonitor:
      enabled: true
      jobLabel: app.kubernetes.io/name
      honorLabels: false
      selector: {}
      scrapeTimeout: ""
      interval: ""
      additionalLabels: {}
      metricRelabelings: {}
      relabelings: {}

rbac:
  create: true
  useClusterAdmin: true

serviceAccount:
  create: true
  name: ""
