on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches:
      - main
      - develop
      - "release-*"
    # Publish semver tags as releases.
    tags: ["v*.*.*"]
  pull_request:
    branches:
      - "main"

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v5
        with:
          go-version-file: "go.mod"
      - name: Build binaries
        env:
          GIT_VERSION: ${{ github.ref_name }}
        run: make build

      # Release Docker
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Setup Docker buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to ${{ vars.REGISTRY }}
        uses: docker/login-action@v3
        with:
          registry: ${{ vars.REGISTRY }}
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}

      - name: Release Docker
        if: github.event_name != 'pull_request'
        env:
          GIT_VERSION: ${{ github.ref_name }}
          REGISTRY: ${{ vars.REGISTRY }}
        run: make release-image
